
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


html,body {
  height:100%;
  width:100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
  background-color: #cdcaca;
  background: linear-gradient(to right bottom, rgb(0,0,0), rgb(105, 105, 105) );
}

#nav-parent{
  display:flex;
  justify-content: space-between;
  margin-inline: 20px;
  margin-top: 5px;
  align-items: center;
  /* background-color: turquoise; */
  background-color: whitesmoke;
  padding-inline:50px;
  padding-top:20px;
  padding-bottom: 25px;
  border-radius:40px;
  pointer-events: none;
}

#n-1{
  font-size: 28px;
}

#n-2{
  display: flex;
  width:50%;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 20px;
}

#n-2 div{
  padding:8px;
  border:2px solid black;
  border-radius: 20px;
}

#n-3{
  color:white;
  background-color: black;
  border-radius: 40px;
  padding-inline:20px;
  padding-block:15px;
}

#hero-parent{
  height:500px;  
  width:90%;
  margin:auto;
  margin-top:25px;
  padding:100px;
  background:  linear-gradient(to right,rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../public/img1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center ;
  pointer-events: none;
}

#hero-parent h2{
  font-size: 40px;
  font-weight: 900;
  /* margin: auto; */
  margin-top:1px;

}

#hero-parent p{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: 350;
}